body {
    padding-top: 50px;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
}

    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100, 100, 100, 0.4);
    }


.editor-pane {
    position: relative;
    height: calc(100vh - 50px);
    padding: 0;
}

    .editor-pane .editor-overlay {
        position: absolute;
        pointer-events: none;
        top: 0;
        left: 0;
        height: 64px;
        width: 100%;
        padding-right: 15px;
        z-index: 1;
        text-align: right;
        opacity: 0.5;
        transition: opacity 200ms;
    }

    .editor-pane:hover .editor-overlay {
        opacity: 1;
    }

    .editor-pane .editor {
        width: 100%;
        height: 100%;
    }

.lang-logo {
    height: 64px;
}

    .lang-logo.lang-logo-java {
        padding: 7px;
    }

    .lang-logo.lang-logo-xamarin {
    }
