@{
    ViewData["Title"] = "StyleKit transpiler to C#";
}

@section SEO {
    <meta name="description" content="StyleKitSharper is a tool that transpiles StyleKits produced by PaintCode 3 from Java to C# for use in Xamarin.Android projects.">
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 editor-pane">
            <div id="java" class="editor">// Drop StyleKit java file here, or paste the code...</div>
            <div class="editor-overlay drop-target">
                <div class="lang-logo lang-logo-java">
                    <img src="~/images/Java.svg" alt="Java" />
                </div>
                <div class="drop-target-el">
                    <div class="drop-message text-center">
                        <h1>Drop StyleKit file here...</h1>
                        <h2 class="glyphicon glyphicon-import" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 editor-pane">
            <div id="csharp" class="editor">// Nothing yet...</div>
            <div class="editor-overlay">
                <div class="lang-logo lang-logo-xamarin">
                    <img src="~/images/Xamagon.svg" alt="Xamarin" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/base64-js/base64js.min.js"></script>
        <script src="~/lib/text-encoder-lite/index.js"></script>

        <script src="~/lib/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>

        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/base64-js/base64js.min.js"></script>
        <script src="~/lib/text-encoder-lite/index.js"></script>

        <script src="~/lib/ace-builds/src-min/ace.js" type="text/javascript" charset="utf-8"></script>

        <script src="~/js/main.min.js" asp-append-version="true"></script>
    </environment>
}
