@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 editor-pane">
            <div id="java" class="editor">// Paste StyleKit java code here...</div>
            <div class="editor-overlay">
                <img class="lang-logo lang-logo-java" src="~/images/Java.svg" />
            </div>
        </div>
        <div class="col-md-6 editor-pane">
            <div id="csharp" class="editor">// Nothing yet...</div>
            <div class="editor-overlay">
                <img class="lang-logo lang-logo-xamarin" src="~/images/Xamagon.svg" />
            </div>
        </div>
    </div>
</div>
