@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="java" class="col-md-6">
        <textarea class="form-control java-input"></textarea>
    </div>
    <div id="csharp" class="col-md-6">
        <div class="well csharp-output"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <button id="btnConvert" class="btn btn-success btn-lg">Convert</button>
    </div>
</div>
